.about-me-table tr:nth-child(even) {
  background-color: #343a40;
}
.about-me-table tr td {
  padding: 0.5rem 3rem 0.5rem 3rem;
}
.about-me-table tr td span {
  color: #e09f3e;
}

@media (max-width: 767px) {
  .about-me-table tr td {
    padding: 0.2rem;
  }
}
