.edu-details {
  background-color: #1b1b29;
}
.edu-logo {
  background-color: #151520;
}
.edu-group:hover .edu-details {
  -webkit-box-shadow: 0 0 12px #334155;
  box-shadow: 0 0 12px #334155;
}

.download-Btn {
  background-color: #151520;
}
.download-Btn:active {
  background-color: #0c0c11;
}

@media (max-width: 768px) {
  .education-section {
    height: auto;
  }
  .edu-logo {
    background-color: #64748b;
  }
  .round-shape {
    height: 20px;
    width: 20px;
    background-color: rgb(235, 145, 112);
    border: 2px solid #64748b;
  }
}
