/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.projects-section {
  /* height: 100vh; */
  font-family: "Ubuntu", sans-serif;
  /* background: url("../assets/background/Project-img.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.project-item {
  width: 17rem;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 5px 2px rgba(20, 19, 19, 0.9);
}

.project-item-img {
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}
.check-link {
  color: #819cc2;
  text-decoration: underline;
}

/* ======Responsive Media query */
@media (max-width: 767px) {
  .projects-section {
    height: auto;
  }
}
