.projects-section {
  /* height: 100vh; */
  font-family: "Ubuntu", sans-serif;
  /* background: url("../assets/background/Project-img.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.project-item {
  width: 17rem;
}

.project-item-img {
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}
.check-link {
  color: #819cc2;
  text-decoration: underline;
}

/* ======Responsive Media query */
@media (max-width: 767px) {
  .projects-section {
    height: auto;
  }
}
