.skills {
  height: 100vh;
  background: url("../assets/sketch-many-bulbs-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-container .skill_item {
  backdrop-filter: blur(8px);
  height: 150px;
  flex-basis: 150px;
  transform: rotate(45deg);
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(237, 242, 244, 0.7);
}

.skill_details {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.skill_detail-1 {
  text-shadow: rgba(255, 162, 0, 0.9) 0px 0px 10px;
}
.skill_detail-2 {
  text-shadow: rgba(0, 255, 149, 0.9) 0px 0px 10px;
}
.skill_detail-3 {
  text-shadow: rgba(0, 132, 255, 0.9) 0px 0px 10px;
}
.skill_detail-4 {
  text-shadow: #d00000 0px 0px 10px;
}

.skill_detail-5 {
  text-shadow: #83c5be 0px 0px 10px;
}

/* d00000 */
