/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Ubuntu:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 40px;
  /* scroll-snap-type: y mandatory; */
  background-color: #222233;
  color: #aaccff;
}
section {
  /* padding-top: 3.5rem; */
  /* scroll-snap-align: start;
  scroll-snap-stop: always; */
  /* border: 1px solid red; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.text-decoration-none {
  text-decoration: none !important;
}
.container {
  padding: 0.5rem;
}
/* Horizontal line shape */
.line-shape {
  width: 400px;
  border: 1px solid white;
  -webkit-box-shadow: rgb(255, 140, 0) 0px 0px 5px;
  box-shadow: rgb(255, 140, 0) 0px 0px 5px;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .line-shape {
    width: 80px;
  }
}
